body{background:url(../img/white_leather.png) repeat 0 0; }


/** home page **/

/* for limited the product discription */
.home .description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
